{% extends 'base.html' %}
{% block titulo %}Início{% endblock %}

{% block conteudo %}
<h2>Bem-vindo, {{ session.usuario }}!</h2>

<div style="display: flex; flex-wrap: wrap; gap: 20px; margin-top: 30px;">
  <a href="/itens/cadastro" class="card">🆕 Cadastrar Item</a>
  <a href="/itens/pesquisar" class="card">🔎 Pesquisar Itens</a>
  <a href="/saidas/registrar" class="card">🚚 Registrar Saída</a>
  <a href="/saidas/relatorio" class="card">📄 Relatório</a>
  <a href="/itens/entrada" class="card">📥 Entrada de Estoque</a>


  {% if session.tipo == 'MASTER' %}
  <a href="/usuarios" class="card">👥 Gerenciar Usuários</a>
  <a href="/logs" class="card">📋 Ver Logs</a>
  {% endif %}
</div>

<style>
  .card {
    background-color: #cc0000;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 8px;
    width: 220px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease;
  }

  .card:hover {
    background-color: #990000;
  }
</style>
{% endblock %}
